/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    user-select: none;
}

::-webkit-scrollbar {
    display: none
}

#canvas {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: relative
}

header {
    position: absolute;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-left: 140px;
    padding-right: 140px;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-svg {
    width: 100px;
    height: 100px;
}

.logo-text {
    font-weight: 700;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    line-height: 140%;
    letter-spacing: .05em;
    display: block;
    pointer-events: none;
    min-width: 130px;
    margin: 20px;
}

.tip {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-code {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    line-height: 200%;
    pointer-events: none;
}

.text {
    display: flex;
    flex-direction: column;
}

.text > span {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    text-align: center;
    pointer-events: none;
}

.text > a {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    text-align: center;
    text-decoration: none;
    z-index: 1000;
}

.toggle {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*noinspection CssUnusedSymbol*/
.hidden {
    display: none;
}

.space {
    will-change: contents;
    height: 100%;
    width: 100%;
    z-index: -100;
    position: fixed
}

.space {
    background: linear-gradient(135deg, rgb(0, 0, 138), rgb(248, 156, 113));
}

/*noinspection CssUnusedSymbol*/
.star {
    will-change: transform;
    --twinkle-duration: "";
    --twinkle-delay: "";
    --star-size: "";
    position: absolute;
    width: var(--star-size);
    height: var(--star-size);
    background: #fff;
    border-radius: 50%;
    animation: twinkle infinite alternate;
    animation-duration: var(--twinkle-duration);
    animation-delay: var(--twinkle-delay)
}

@keyframes twinkle {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.5);
        box-shadow: 0 0 5px 1px rgba(150, 150, 150, .6)
    }
}