<!DOCTYPE html>
<html lang=en th:lang="#{web.lang}" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv=content-type>
    <meta charset=utf-8>
    <link href="/favicon.svg" rel=icon>
    <meta content="width=device-width,initial-scale=1" name=viewport>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap" rel=stylesheet>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains Mono" rel=stylesheet>
    <title>Normative Control API Docs</title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <a class="logo" href="/docs">
        <img alt="normative control" class="logo-img" src="/logo.svg">
    </a>
    <p class=header-text>normative<br>control API Docs</p>
</header>
<main>
    <div class="methods-list">
        <h2>API Methods</h2>
        <div class="scrollable">
            <th:block th:each="method : ${methods}">
                <a th:class="'method-link' + (${current != null && isMethod && method.root + '/' + method.path == current.root+ '/' + current.path} ? ' link-active' : '')"
                   th:href="'docs?section=' + ${method.root} + '/' + ${method.path}">
                    <p>
                        <span th:class="'method-type method-type-' + ${method.type}"
                              th:utext="'[' + ${method.type} + ']'"></span>
                        <span class="method-name" th:utext="${method.root} + '/' + ${method.path}"></span>
                    </p>
                </a>
            </th:block>
        </div>
    </div>
    <div class="objects">
        <h2>API Objects</h2>
        <div class="scrollable">
            <th:block th:each="object : ${objects}">
                <a th:class="'method-link object-link' + (${current != null && !isMethod && object.name == current.name} ? ' link-active' : '')"
                   th:href="'docs?section=' + ${object.name}">
                    <p>
                        <span class="method-name" th:utext="${object.name}"></span>
                    </p>
                </a>
            </th:block>
        </div>
    </div>
    <div class="description-block">
        <h2 th:if="${current != null && isMethod}">Method</h2>
        <p class="current-section-name" th:if="${current != null && isMethod}">
            <span th:class="'method-type method-type-' + ${current.type}" th:utext="'[' + ${current.type} + ']'"></span>
            <span class="method-name" th:utext="${current.root} + '/' + ${current.path}"></span>
        </p>
        <h2 th:if="${current != null && !isMethod}">Object</h2>
        <p class="current-section-name" th:if="${current != null && !isMethod}">
            <span class="section-name" th:utext="${current.name}"></span>
        </p>

        <th:block th:if="${current != null && isMethod}">
            <div class="content scrollable">
                <h3>Description:</h3>
                <div class="description" th:utext="${current.description}"></div>
                <th:block th:if="${current.queryParams.size() > 0}">
                    <h3>Query params:</h3>
                    <ul>
                        <th:block th:each="queryParam, state : ${current.queryParams}">
                            <li class="parameter">
                                <p>
                                    <span class="parameter-name" th:utext="${queryParam.name}"></span>:&#160;
                                    <code class="parameter-type" th:utext="${queryParam.type}"></code>&#160;&#8212;&#160;
                                    <span class="parameter-description" th:utext="${queryParam.description}"></span>
                                    <span class="text-span" th:if="${state.last}">.</span>
                                    <span class="text-span" th:if="${!state.last}">;</span>
                                </p>
                            </li>
                        </th:block>
                    </ul>
                </th:block>
                <th:block th:if="${current.bodyParams.size() > 0}">
                    <h3>Body params:</h3>
                    <ul>
                        <th:block th:each="bodyParam, state : ${current.bodyParams}">
                            <li class="parameter">
                                <p>
                                    <span class="argument-name" th:utext="${bodyParam.name}"></span>:&#160;
                                    <code class="argument-type" th:utext="${bodyParam.type}"></code>&#160;&#8212;&#160;
                                    <span class="argument-description" th:utext="${bodyParam.description}"></span>
                                    <span class="text-span" th:if="${state.last}">.</span>
                                    <span class="text-span" th:if="${!state.last}">;</span>
                                </p>
                            </li>
                        </th:block>
                    </ul>
                </th:block>
                <th:block th:if="${current.responses != null}">
                    <h3>Responses:</h3>
                    <ul>
                        <th:block th:each="response, state : ${current.responses}">
                            <li class="response">
                                <p>
                                    <span class="response-code"
                                          th:style="'color: ' + (${response.httpStatus.value() >= 500} ? 'red' : (${response.httpStatus.value() >= 400} ? 'orange' : (${response.httpStatus.value() >= 300} ? 'yellow' : (${response.httpStatus.value() >= 200} ? 'green' : 'gray'))))"
                                          th:utext="${response.httpStatus.value()}"></span>
                                    <span th:if="${response.type != 'Unit'}">+</span>
                                    <code class="response-type" th:if="${response.type != 'Unit'}"
                                          th:utext="${response.type + (response.type == 'String' ? ' [JSON]' : '')}"></code>&#160;&#8212;&#160;
                                    <span class="response-description" th:utext="${response.description}"></span><br
                                        th:if="${response.body != ''}">
                                    <span class="response-body" th:if="${response.body != ''}"
                                          th:utext="'JSON format: ' + ${response.body}"></span>
                                    <span class="text-span" th:if="${state.last && response.body == ''}">.</span>
                                    <span class="text-span" th:if="${!state.last && response.body == ''}">;</span>
                                </p>
                            </li>
                        </th:block>
                    </ul>
                </th:block>
                <h3 th:if="${sandboxEnabled}">Sandbox:</h3>
                <div class="sandbox" th:if="${sandboxEnabled}">
                    <span class="url"
                          th:utext="'URL: ' + ${address} + '/' + ${current.root} + '/' + ${current.path}"></span>
                    <div class="query-params-sandbox">
                        <h3>Query params:</h3>
                        <div class="params">
                            <th:block th:each="queryParam, state : ${current.queryParams}">
                                <p th:utext="${queryParam.name}"></p>
                                <input type="text">
                            </th:block>
                        </div>
                    </div>
                    <div class="body-params-sandbox">
                        <h3>Body params:</h3>
                        <div class="params">
                            <th:block th:each="bodyParam, state : ${current.bodyParams}">
                                <p class="input-header" th:utext="${bodyParam.name}"></p>
                                <input th:type="${bodyParam.type} == 'MultipartFile' ? 'file' : 'text'">
                            </th:block>
                        </div>
                    </div>
                    <div class="sandbox-answer">
                        <h3>Response:</h3>
                        <code class="answer-body"></code>
                    </div>
                </div>

            </div>
        </th:block>
        <th:block th:if="${current != null && !isMethod}">
            <div class="content scrollable">
                <h3>Description:</h3>
                <div class="description" th:utext="${current.description}"></div>
                <th:block th:if="${current.properties != null}">
                    <h3>Properties:</h3>
                    <ul>
                        <th:block th:each="property, state : ${current.properties}">
                            <li class="parameter">
                                <p>
                                    <span class="argument-name" th:utext="${property.name}"></span>:&#160;
                                    <code class="argument-type" th:utext="${property.type}"></code>&#160;&#8212;&#160;
                                    <span class="argument-description" th:utext="${property.description}"></span>
                                    <span class="argument-description" th:utext="${property.body}"></span>
                                    <span class="text-span" th:if="${state.last && property.body == ''}">.</span>
                                    <span class="text-span" th:if="${!state.last && property.body == ''}">;</span>
                                </p>
                            </li>
                        </th:block>
                    </ul>
                </th:block>
            </div>
        </th:block>
        <th:block th:if="${current == null}">
            <div class="selected-empty">
                <span><b>Please, select method or object.</b></span>
            </div>
        </th:block>
    </div>
</main>
</body>
</html>