<!DOCTYPE html>
<html lang=en th:lang="#{web.lang}" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv=content-type>
    <meta charset=utf-8>
    <link href="/favicon.svg" rel=icon>
    <meta content="width=device-width,initial-scale=1" name=viewport>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap" rel=stylesheet>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains Mono" rel=stylesheet>
    <title>Normative Control API Docs</title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <a class="logo" href="/docs">
        <img alt="normative control" class="logo-img" src="/logo.svg">
    </a>
    <p class=header-text>normative<br>control API Docs</p>
</header>
<main>
    <div class="methods-list">
        <h2 th:text="#{docs.methods.title}">API Methods</h2>
        <div class="scrollable">
            <th:block th:each="method : ${methods}">
                <a th:class="'method-link' + (${currentMethod != null && isMethod && method.path == currentMethod.path} ? ' link-active' : '')"
                   th:href="'docs?section=' + ${method.path}">
                    <p>
                        <span th:class="'method-type method-type-' + ${method.type}"
                              th:utext="'[' + ${method.type} + ']'"></span>
                        <span class="method-name" th:utext="${method.path}"></span>
                    </p>
                </a>
            </th:block>
        </div>
    </div>
    <div class="entities">
        <h2 th:text="#{docs.entities.title}">API Entities</h2>
        <div class="scrollable">
            <th:block th:each="entity : ${entities}">
                <a th:class="'method-link entity-link' + (${currentEntity != null && !isMethod && entity.name == currentEntity.name} ? ' link-active' : '')"
                   th:href="'docs?section=' + ${entity.name}">
                    <p>
                        <span class="method-name" th:utext="${entity.name}"></span>
                    </p>
                </a>
            </th:block>
        </div>
    </div>
    <div class="description-block">
        <h2 th:if="${currentMethod != null && isMethod}" th:text="#{docs.info.method.header}">Method</h2>
        <p class="current-section-name" th:if="${currentMethod != null && isMethod}">
            <span th:class="'method-type method-type-' + ${currentMethod.type}" th:utext="'[' + ${currentMethod.type} + ']'"></span>
            <span class="method-name" th:utext="${currentMethod.path}"></span>
        </p>
        <h2 th:if="${currentEntity != null && !isMethod}" th:text="#{docs.info.entity.header}">Entity</h2>
        <p class="current-section-name" th:if="${currentEntity != null && !isMethod}">
            <span class="section-name" th:utext="${currentEntity.name}"></span>
        </p>

        <th:block th:if="${currentMethod != null && isMethod}">
            <div class="content scrollable">
                <h3 th:text="#{docs.info.common.description} + ':'">Description:</h3>
                <div class="description" th:utext="#{${currentMethod.description}}"></div>
                <th:block th:if="${currentMethod.pathParams.size() > 0}">
                    <h3 th:text="#{docs.info.method.path_params} + ':'">Path params:</h3>
                    <ul>
                        <th:block th:each="pathParam, state : ${currentMethod.pathParams}">
                            <li class="parameter">
                                <p>
                                    <span class="parameter-name" th:utext="${pathParam.name}"></span>:&#160;
                                    <code class="parameter-type" th:utext="${pathParam.type}"></code>&#160;&#8212;&#160;
                                    <span class="parameter-description" th:utext="#{${pathParam.description}}"></span>
                                    <span class="text-span" th:if="${state.last}">.</span>
                                    <span class="text-span" th:if="${!state.last}">;</span>
                                </p>
                            </li>
                        </th:block>
                    </ul>
                </th:block>
                <th:block th:if="${currentMethod.queryParams.size() > 0}">
                    <h3 th:text="#{docs.info.method.query_params} + ':'">Query params:</h3>
                    <ul>
                        <th:block th:each="queryParam, state : ${currentMethod.queryParams}">
                            <li class="parameter">
                                <p>
                                    <span class="parameter-name" th:utext="${queryParam.name}"></span>:&#160;
                                    <code class="parameter-type" th:utext="${queryParam.type}"></code>&#160;&#8212;&#160;
                                    <span class="parameter-description" th:utext="#{${queryParam.description}}"></span>
                                    <span class="text-span" th:if="${state.last}">.</span>
                                    <span class="text-span" th:if="${!state.last}">;</span>
                                </p>
                            </li>
                        </th:block>
                    </ul>
                </th:block>
                <th:block th:if="${currentMethod.bodyParams.size() > 0}">
                    <h3 th:text="#{docs.info.method.body_params} + ':'">Body params:</h3>
                    <ul>
                        <th:block th:each="bodyParam, state : ${currentMethod.bodyParams}">
                            <li class="parameter">
                                <p>
                                    <span class="argument-name" th:utext="${bodyParam.name}"></span>:&#160;
                                    <code class="argument-type" th:utext="${bodyParam.type}"></code>&#160;&#8212;&#160;
                                    <span class="argument-description" th:utext="#{${bodyParam.description}}"></span>
                                    <span class="text-span" th:if="${state.last}">.</span>
                                    <span class="text-span" th:if="${!state.last}">;</span>
                                </p>
                            </li>
                        </th:block>
                    </ul>
                </th:block>
                <th:block th:if="${currentMethod.responses != null}">
                    <h3 th:text="#{docs.info.method.responses} + ':'">Responses:</h3>
                    <ul>
                        <th:block th:each="response, state : ${currentMethod.responses}">
                            <li class="response">
                                <p>
                                    <span class="response-code"
                                          th:style="'color: ' + (${response.httpStatus.value() >= 500} ? 'red' : (${response.httpStatus.value() >= 400} ? 'orange' : (${response.httpStatus.value() >= 300} ? 'yellow' : (${response.httpStatus.value() >= 200} ? 'green' : 'gray'))))"
                                          th:utext="${response.httpStatus.value()}"></span>
                                    <span th:if="${response.type != 'Unit'}">+</span>
                                    <code class="response-type" th:if="${response.type != 'Unit'}"
                                          th:utext="${response.type + (response.type == 'String' ? ' [JSON]' : '')}"></code>&#160;&#8212;&#160;
                                    <span class="response-description" th:utext="#{${response.description}}"></span><br
                                        th:if="${response.body != ''}">
                                    <span class="response-body" th:if="${response.body != ''}"
                                          th:utext="'JSON format: ' + ${response.body}"></span>
                                    <span class="text-span" th:if="${state.last && response.body == ''}">.</span>
                                    <span class="text-span" th:if="${!state.last && response.body == ''}">;</span>
                                </p>
                            </li>
                        </th:block>
                    </ul>
                </th:block>
            </div>
        </th:block>
        <th:block th:if="${currentEntity != null && !isMethod}">
            <div class="content scrollable">
                <h3 th:text="#{docs.info.common.description} + ':'">Description:</h3>
                <div class="description" th:utext="#{${currentEntity.description}}"></div>
                <th:block th:if="${currentEntity.properties != null}">
                    <h3 th:text="#{docs.info.entity.properties} + ':'">Properties:</h3>
                    <ul>
                        <th:block th:each="property, state : ${currentEntity.properties}">
                            <li class="parameter">
                                <p>
                                    <span class="argument-name" th:utext="${property.name}"></span>:&#160;
                                    <code class="argument-type" th:utext="${property.type}"></code>&#160;&#8212;&#160;
                                    <span class="argument-description" th:utext="#{${property.description}}"></span>
                                    <span class="argument-description" th:utext="${property.body}"></span>
                                </p>
                                <div th:if="${property.enum != null}">
                                    <ul>
                                        <th:block th:if="${property.enumTranslated}">
                                            <th:block th:each="element : ${property.enum}">
                                                <li th:text="${element}"></li>
                                            </th:block>
                                        </th:block>
                                        <th:block th:if="${!property.enumTranslated}">
                                            <th:block th:each="element : ${property.enum}">
                                                <li th:text="${element} + ((#{${'enum.' + element}} != '%obviously%') ? ' — ' + #{${'enum.' + element}} : '')"></li>
                                            </th:block>
                                        </th:block>
                                    </ul>
                                </div>
                            </li>
                        </th:block>
                    </ul>
                </th:block>
            </div>
        </th:block>
        <th:block th:if="${currentMethod == null && currentEntity == null}">
            <div class="selected-empty">
                <span><b th:text="#{docs.info.no_selection}">Please, select method or entity.</b></span>
            </div>
        </th:block>
    </div>
</main>
</body>
</html>